body {
    
    margin: 0;
    padding: 0 auto;
    font-family: futura;
    
}


ul {
    
    list-style-type: none;
}
#menu {
    position:fixed;
    width: 100%;
    height: 55px;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
}


.drop_button {
    font-family: futura;
background-color: black;
    border-style: none;
  color: white;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-cont {
  display: none;
  position: absolute;
  background-color: grey;
    opacity: 0.9;
    height: 300px;
  z-index: 1;
}

.drop-cont a {
    text-decoration: none;
  color: black;
  padding:16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .drop-cont {
  display: block;
}


.monprof{
    
    color: white;
    padding-right: 2%;
}

.espace {
    
    height: 100px;
    width: 100%;
}


.button {
    height: 100%;
    filter: invert(1);
}

.logo {
    
    height: 100%;
}

.top-menu {
    height: 7vh;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert(1);
}

.topR-menu {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert(1);
}

.back-menu {
    height: 7vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;

}

.article {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    max-width: 1024px;
    height: 500px;
    font-size: 65px;
    text-align: center;
    background-image:url(../images/boulange.jpg);
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.article:hover {
    background-size: 100%;
    max-width: 1024px;
}


#espaceProfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 6;
    margin-left: 100%;
    position: fixed;
    width: 45%;
    height: 100%;
    background-color: grey;
    opacity: 0.9;
    color: aliceblue;
}



.menu-content {
    margin-left: -55%;
    z-index: 6;
    position: fixed;
    width: 55%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
}

.back-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    font-size: 30px;
    font-family: futura;
    color: white;
}

.appear {
    opacity: 1;
    transition: 2s;
}

.isgone {
    opacity: 0;
    transition: 2s;
}

.text_1{
    color: white;
    text-align: center;
    animation: text_1 4.3s infinite linear;
    animation-delay: 0.7s;
}
.text_load {
    
    width: 100%;
    height: 500px;
    font-size: 60px;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pain.jpg);
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}
.text_2{
    color: white;
    text-align: center;
    opacity: 0;
    animation: text_2 4s infinite linear;
    animation-delay: 2s;
    position: absolute;
    top: 800px;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 0;
}

@keyframes text_1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}
@keyframes text_2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media screen and (max-width: 599px){
    
    .article {
        font-size: 45px;
        background-size: 135%;
    }
    
    .article:hover {
        
        background-size: 125%;
    }
    
    .text_load{
        height: 400px;
        background-size:145% ;
    }
}

@media screen and (max-width: 400px) {
    
    .text_load{
        
        background-size: 200%;
    }
}



